[Unit]
Description=securiphant-check-environment

[Service]
ExecStart=%h/.local/bin/securiphant environment-sensor

[Install]
WantedBy=default.target
